$border-color: #262626;

.elevated-container {
	position: fixed;
	z-index: 100;
	top: -100;
	left: -100;

	box-shadow: 2px 2px 7px -5px $border-color;

	opacity: 0;
	transition: all 200ms ease-out;

	&.visible {
		opacity: 1;
	}
}
