$border-color: #262626;

.visualization-settings {
	display: flex;
	flex-direction: column;
	margin-top: 8px;

	.visualization-option-row {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin: 4px 0;

		&:first-child {
			margin-top: 0;
		}

		.visual-sort-speed-dropdown {
			width: 100%;
		}

		.option-input {
			flex: 2;
		}
	}

	.visualization-color-option-row {
		display: flex;
		flex-direction: row;
		align-items: center;

		margin: 8px 0;

		&:nth-child(3) {
			margin-bottom: 0;
		}

		&:nth-child(4) {
			margin-top: 0;
		}

		.color-button {
			border-radius: 5px;
			height: 30px;
			width: 30px;
			border: 1px solid $border-color;
			opacity: 1;

			transition: opacity 100ms linear;

			&:hover {
				cursor: pointer;
				opacity: 0.9;
			}

			&.primary {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom: none;
			}

			&.alternate {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	.option-label {
		flex: 1;
		margin-left: 8px;
		line-height: 1em;
		font-weight: 500;
	}
}
