@use '../../utils/Constants' as c;

$border-radius: c.$border-radius * 1px;

.data-bar {
	position: relative;
	height: 100%;
	width: 100%;
}

.data-bar .fill-area {
	display: flex;
	position: absolute;
	bottom: 0;
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
	color: c.$light-surface;
}
