@use '../../../../utils/Constants' as c;

$primary-color: c.$primary-color;
$default-padding: c.$default-padding * 1px;
$half-padding: c.$half-padding * 1px;

.algorithm-info {
	display: flex;
	flex-direction: column;

	.info-section {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: $default-padding;

		&:first-child {
			margin-top: $half-padding;
		}

		.info-text {
			margin-left: $default-padding;
		}

		&.complexity {
			.info-text > * {
				font-style: italic;
				font-weight: 500;
			}
		}

		.info-icon {
			position: relative;
			color: $primary-color;
			transform: skewX(-10deg);
		}

		.info-icon-backdrop {
			position: absolute;
			left: -5px;
			top: -5px;
			height: 30px;
			width: 10px;
			transform: skewX(10deg);

			background-color: c.$primary-color-faded-2;
			border-radius: 100%;
		}
	}
}
