@use '../../../../utils/Constants' as c;

$primary-color: c.$primary-color;
$default-padding: c.$default-padding * 1px;
$half-padding: c.$half-padding * 1px;

$red: #af2020;
$blue: #2046af;
$green: #669e1c;

.algorithm-info {
	display: flex;
	flex-direction: column;

	.info-section {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: $half-padding;

		.info-text {
			margin-left: $default-padding;
		}

		.italic {
			font-style: italic;
		}

		.emphasis {
			font-weight: 500;
			font-size: 1.05em;

			&.low {
				font-size: 1em;
			}
		}

		&.complexity {
			.complexity-formula {
				font-style: italic;
				font-weight: 500;
			}

			sub {
				margin-right: $half-padding;
				font-weight: 400;
			}
		}

		.red {
			color: $red;
		}

		.blue {
			color: $blue;
		}

		.green {
			color: $green;
		}

		.primary {
			color: c.$primary-color-darker;
		}

		.info-icon {
			position: relative;
			color: $primary-color;
			transform: skewX(-10deg);
		}

		.info-icon-backdrop {
			position: absolute;
			left: -5px;
			top: -5px;
			height: 30px;
			width: 10px;
			transform: skewX(10deg);

			background-color: c.$primary-color-faded-2;
			border-radius: 100%;
		}

		.info-icon,
		.info-icon-backdrop {
			margin-top: c.$quarter-padding * 1px;
		}
	}
}
