@use '../../utils/Constants' as c;

$settings-panel-width: c.$settings-panel-width * 1px;
$drop-shadow-color: c.$drop-shadow-color;
$default-padding: c.$default-padding * 1px;
$half-padding: c.$half-padding * 1px;
$quarter-padding: c.$quarter-padding * 1px;

.settings-panel {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: c.$surface;
	left: -$settings-panel-width;
	width: $settings-panel-width;
	box-shadow: 0 0 $drop-shadow-color;

	display: flex;
	flex-direction: column;
	padding: $default-padding 0;

	overflow-y: auto;

	transition: left 300ms ease-in-out, box-shadow 300ms ease-in-out;

	&.open {
		left: 0;
		box-shadow: -12px 0 20px 5px $drop-shadow-color;
	}

	.spacer {
		flex: 1;
	}

	.panel-section {
		padding-top: $default-padding;
		padding-left: c.$default-padding * 1.5px;
		padding-right: $default-padding;

		.section-title {
			margin-top: $half-padding;
			margin-bottom: $quarter-padding;
			font-weight: 400;
		}

		&:first-child {
			padding-top: $half-padding;

			.section-title {
				margin-top: 0;
			}
		}

		& > hr {
			margin-top: 24px;
			height: 1px;
			border: none;
			border-top: 1px solid #d9d9d9;
		}
	}
}
