.visualization-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.visualization-area.row {
  flex-direction: column;
}

.visualization-area.column {
  flex-direction: row;
  padding-right: 2%;
}