.visualization-area {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.visualization-area .control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.visualization-area .data-bars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 55vh;
}

.visualization-area.row {
  flex-direction: column;
}

.visualization-area.column {
  flex-direction: row;
  padding-right: 2%;
}